h1 {
	font-family: 'Candal', sans-serif;
	font-size:40px;
	margin-left:25px;
}

nav {
	height:50px;
	text-align:center;
}

nav ul li {
	display:inline-block;
	letter-spacing: 2px;
	font-weight:bold;
	padding:10px;
	font-family: 'Lato', sans-serif;
	margin: 0px 20px;
	/*float:left;*/
}

nav ul li a {
	color:black;
}

h1 a {
	color:black;
	text-decoration:none;
}

h1 a:hover {
	text-decoration:none;
	color:black;
}

.join {
	position:absolute;
	float:right;
	top:40px;
	right:50px;
}

.sign {
	position:absolute;
	float:right;
	top:40px;
	right:125px;

}

.messages {
	position:absolute;
	float:right;
	top:40px;
	right:225px;

}
h2 {
	text-align:center;
	font-family: 'Candal', sans-serif;
}

.col-xs-4 {
	width:25%;
	height:300px;
	/*float:left;*/
	display:block;
	margin:0 auto;
	margin-top:100px;
	margin-left:40px;
}

.col-xs-4 figure {
	/*border: 1px solid black;*/
	margin-left:100px;
	/*box-sizing: border-box;*/
}

.col-xs-4 img {
	height:250px;
	width:250px;
	margin-left:60px;
}

.col-xs-4 figcaption {
	margin-left:100px;
	display:inline-block;
}

.row2 {
	width:25%;
	height:300px;
	/*float:left;*/
	display:block;
	margin:0 auto;
	margin-top:100px;
	margin-left:40px;
}

.row2 figure {
	/*border: 1px solid black;*/
	margin-left:100px;
	/*box-sizing: border-box;*/
}

.row2 img {
	height:250px;
	width:250px;
	margin-left:60px;
}

.row2 figcaption {
	margin-left:100px;
	display:inline-block;
}

.row3 {
	width:25%;
	height:300px;
	/*float:left;*/
	display:block;
	margin:0 auto;
	margin-top:100px;
	margin-left:40px;
}

.row3 figure {
	/*border: 1px solid black;*/
	margin-left:100px;
	/*box-sizing: border-box;*/
}

.row3 img {
	height:250px;
	width:250px;
	margin-left:60px;
}

.row3 figcaption {
	margin-left:60px;
	display:inline-block;
}
.footer {
	height:250px;
	background-color:#fafafa;
}

.footer .email {
	margin-top:50px;
	margin-left:100px;
	float:left;
	list-style-type:none;
	font-family: 'Merriweather', serif;

}

.footer .order {
	margin-top:45px;
	margin-left:100px;
	/*margin: 0  0 10px 0;*/
	float:left;
	list-style-type:none;
	font-family: 'Merriweather', serif;
}

.order .title1 {
	font-size:15px;
}

.order li {
	margin-top:5px;
	font-size:10px;

}

.email form {
	margin-top:20px;
	position:absolute;
	left:150px;
}

.footer .socialmedia {
	float:left;
	margin-top:30px;
	margin-left:200px;
}

.socialmedia img {
	width:50px;
	height:50px;
	margin:10px;
}

.socialmedia h4 {
	text-align:center;

}

.pages li {
	list-style-type:none;
	display:inline;
	width:50%;
	margin: 0 auto;
}
#second-nav {
	height:100px;
	width:50px;
	/*display:block;*/
	position:fixed;
	margin-top:50px;
	margin-left:-40px;
	z-index:3;

}

#second-nav ul li {
	display:block;
	font-size:10px;
	position:relative;
	z-index:3;
	/*float:left;*/
	/*margin-top:20px;*/
}

#second-nav .sell {
	font-weight:bold;
	font-size:25px;
}

#search {
	float:right;
	position:absolute;
	top:100px;
	right:50px;
}

.nike1, .jordan1, .adidas1, .yeezy1, .under-armour1 {
	cursor:pointer;

}
