/*********MOBILE VERISON ************************/

@media screen and (min-width:320px) {

h1 {
	font-family: 'Candal', sans-serif;
	font-size:50px;
	padding-left:10px;
}

h1 a {
	text-decoration: none;
	color:black;
}

#menu-bttn {
	display:block;
	margin:0 auto;
}

nav ul {
	text-align:center;
	padding:0;
	margin:0;
}

nav ul li {
	list-style-type: none;
	font-family: 'Lato', sans-serif;

}

nav ul li a {
	text-decoration:none;
	color:black;
	/*font-weight:bold;*/
}

.bxslider img {
	width:100%;
}
/*************TRENDING SECT FOR DESKTOP************/
h3 {
	display:none;
}

.trending {
	display:none;
}

/******************************************************/
.email input {
	border: 1px solid black;
	display:block;
	margin:0 auto;
}

.footer {
	background-color:#fafafa;
	text-align:center;
}

.footer li {
	list-style-type: none;
	font-size:14px;
	text-align:center;
	padding:5px;
}

.order li {
	text-align:center;
}

.socialmedia {
	text-align:center;
}


.socialmedia img {
	width:15%;
}

.title1, .title2 {
	font-weight:bold;
}

}

/*****************DESKTOP VERSION****************/

@media screen and (min-width:768px) {

#menu-bttn {
	display:none;
}

.left li {
	letter-spacing: 4px;
	padding:20px;
	font-size:15px;
	font-family: 'Lato', sans-serif;

}

nav ul li {
	display:inline;
	font-family: 'Lato', sans-serif;
}

.right {
	display:inline;
	position:absolute;
	top:60px;
	right:40px;

}

.right li {
	padding:15px;
	font-family: 'Lato', sans-serif;
	font-size:12px;
}

h3 {
	display:block;
	text-align:center;
}

.order .title1, #second-nav .sell{
	font-weight:bold;
}

.trending {
	display:block;
}

.email {
	position:relative;
	float:left;
}

.footer {
	height:250px;
	padding-top:25px;
}

.order {
	position:relative;
	float:left;
	left:50px;
}

.order2 {
	position:relative;
	float:left;
	left:70px;
	top:30px;

}

.title2 {
	font-weight:bold;
}

.socialmedia {
	position:relative;
	top:60px;
	/*left:100px;*/
}

.socialmedia img {
	width:40px;
	height:40px;
}

}